.cursos-layout {
    width: 90%;
    max-width: 1300px;

    margin: 50px auto;

    display: grid;

    grid-template-columns:
        repeat(2, minmax(0, 1fr));

    gap: 30px;
}


.curso-card {
    width: 100%;

    padding: 35px;

    background-color: var(--rosa-claro);

    border-radius: 18px;

    box-shadow:
        0 8px 25px
        rgba(142, 124, 195, 0.15);
}


.curso-card h2 {
    margin-bottom: 20px;

    color: var(--violeta);

    font-size: 28px;

    text-align: center;
}


.curso-card h3 {
    margin-bottom: 15px;

    color: var(--rosa);
}


.curso-card p {
    margin-bottom: 18px;

    line-height: 1.7;
}


.curso-lista {
    margin: 20px 0;

    padding: 0;

    list-style: none;
}


.curso-lista li {
    position: relative;

    margin-bottom: 14px;

    padding-left: 28px;
}


.curso-lista li::before {
    content: "✦";

    position: absolute;

    left: 0;

    color: var(--rosa);
}


@media (max-width: 800px) {

    .cursos-layout {
        grid-template-columns: 1fr;
    }

}